/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../../public/fonts/proximanova/proximanova-black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: 'Clear Sans';
  src: url("../../public/fonts/clearsans/clearsans-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Clear Sans';
  src: url("../../public/fonts/clearsans/clearsans-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: 'Cuprum';
  src: url("../../public/fonts/cuprum/cuprum-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Roboto';
  src: url("../../public/fonts/roboto/roboto-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
body {
  font-family: 'Clear Sans', 'Roboto', sans-serif; }

/* container and size */
/* flex-items */
/* indents*/
.header__promo {
  max-width: 1155px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 17px;
  padding-right: 0;
  padding-bottom: 19px;
  padding-left: 0;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05); }
.header__content {
  padding-left: 64px;
  padding-right: 53px; }
.header__description {
  font-family: 'Clear Sans';
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #3A4047;
  padding-bottom: 11px; }
.header__schedule {
  font-family: 'Clear Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #3A4047; }
.header__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.header__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px; }
.header__personal-account {
  padding-right: 28px; }
.header__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.header #main-nav a {
  color: #f6f7f8;
  background: #254441;
  height: 30px;
  font-family: lato;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-transition: background 0.4s;
  transition: background 0.4s; }
.header #main-nav a:hover {
  background: #305753; }
.header #main-nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.header #main-nav li {
  width: 100%;
  text-align: center;
  position: relative; }
.header #main-nav li:hover .submenu > li {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0px; }
.header .submenu li {
  display: none;
  position: absolute;
  top: 0px; }
.header .submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%; }
.header .submenu li {
  position: relative; }
.header .submenu li:hover .submenu-2 li {
  display: block; }
.header .submenu-2 li {
  display: none; }
.header .submenu-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0px;
  left: 100%;
  width: 120px; }
.header svg {
  margin-left: 8px;
  color: #eee;
  font-size: 12px; }
.header__shopping-cart {
  padding-left: 18px; }

/* container and size */
/* flex-items */
/* indents*/
.navigation {
  max-width: 1155px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05); }
  .navigation__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 17px;
    padding-right: 0;
    padding-bottom: 19px;
    padding-left: 0; }
  .navigation__item {
    font-family: 'Clear Sans';
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
    padding-left: 30px; }
    .navigation__item a {
      color: #3A4047;
      text-decoration: none; }
  .navigation .navigation__item + .navigation__item {
    border-left: 1px solid #e8edf2; }

/* container and size */
/* flex-items */
/* indents*/
.baner {
  background-image: url(/public/images/fon.jpg);
  background-size: 1920px, cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .baner__message {
    width: 108px;
    height: 108px;
    background: #1ab0ce;
    border-radius: 50%;
    -webkit-box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
    position: absolute;
    right: 0%;
    bottom: 0%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .baner__message svg {
      width: 23px;
      height: 23px; }
    .baner__message span {
      font-family: Clear Sans;
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #ffffff; }
  .baner__title {
    font-family: 'Clear Sans';
    font-size: 57px;
    line-height: 67px;
    color: #ffffff;
    padding-top: 125px;
    padding-right: 0;
    padding-bottom: 25px;
    padding-left: 0;
    position: relative; }
    .baner__title::before {
      content: "";
      display: block;
      width: 120px;
      height: 2px;
      background-color: #ffffff;
      position: absolute;
      top: 200px;
      left: calc(50% - 63px); }
  .baner__text {
    font-family: 'Clear Sans';
    font-size: 24px;
    line-height: 28px;
    color: #ffffff;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 27px;
    padding-left: 0; }
  .baner__button {
    font-family: 'Clear Sans';
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    background-color: #1AB0CE;
    border-radius: 2px;
    border: none;
    padding-top: 12px;
    padding-right: 22px;
    padding-bottom: 15px;
    padding-left: 22px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 141px;
    margin-left: 0; }

/* container and size */
/* flex-items */
/* indents*/
.products {
  max-width: 1155px;
  margin: 0 auto; }
  .products__title {
    font-family: 'Clear Sans';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #3A4047;
    padding-top: 29px;
    padding-right: 0;
    padding-bottom: 44px;
    padding-left: 0; }
  .products__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .products__iner {
    min-height: 351px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    border: 1px solid #dce1e6;
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05); }
  .products__logo {
    padding-top: 0;
    padding-right: 40px;
    padding-bottom: 0;
    padding-left: 0; }
  .products__subtitle {
    font-family: 'Clear Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #3A4047;
    padding-bottom: 24px; }
  .products__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .products__item {
    font-family: 'Clear Sans';
    font-size: 14px;
    line-height: 16px; }
  .products__link {
    color: #3A4047;
    text-decoration: none; }

.products__iner + .products__iner {
  padding-left: 30px; }

.products__item + .products__item {
  padding-top: 30px; }

/* container and size */
/* flex-items */
/* indents*/
.about-us {
  max-width: 1155px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .about-us::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #e8edf2;
    position: absolute;
    right: -97px;
    bottom: 0;
    left: -382px; }
  .about-us__title {
    font-family: 'Clear Sans';
    font-size: 36px;
    line-height: 42px;
    color: #3A4047;
    padding-top: 32px;
    padding-right: 0;
    padding-bottom: 13px;
    padding-left: 0; }
  .about-us__slogan {
    font-family: 'Clear Sans';
    font-size: 24px;
    line-height: 28px;
    color: #3A4047; }
  .about-us__desc {
    font-family: 'Clear Sans';
    font-size: 14px;
    line-height: 16px;
    color: #3A4047;
    padding-top: 34px;
    padding-right: 0;
    padding-bottom: 13px;
    padding-left: 0; }

/* container and size */
/* flex-items */
/* indents*/
.news {
  max-width: 1155px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .news__title {
    font-family: 'Clear Sans';
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #3A4047;
    padding-top: 33px;
    padding-right: 0;
    padding-bottom: 50px;
    padding-left: 0; }
  .news__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .news__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .news__button {
    font-family: 'Clear Sans';
    font-size: 14px;
    color: #1ab0ce;
    background-color: #fff;
    border: 1px solid #1ab0ce;
    border-radius: 2px;
    outline: none;
    padding-top: 9px;
    padding-right: 22px;
    padding-bottom: 9px;
    padding-left: 22px;
    margin-top: 50px;
    margin-right: 0;
    margin-bottom: 50px;
    margin-left: 0; }
    .news__button:hover {
      color: #fff;
      background-color: #1ab0ce; }
  .news .item-news {
    border-top: 1px solid #ffffff; }
    .news .item-news:hover {
      border-top: 1px solid #1ab0ce;
      -webkit-box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.05);
              box-shadow: 0px 14px 24px rgba(0, 0, 0, 0.05); }
    .news .item-news__date {
      font-family: 'Clear Sans';
      font-size: 14px;
      line-height: 16px;
      text-align: center;
      color: #BEC7D1;
      padding-top: 29px;
      padding-right: 0;
      padding-bottom: 14px;
      padding-left: 0; }
    .news .item-news__desc {
      font-family: 'Clear Sans';
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      color: #3A4047; }
      .news .item-news__desc:hover {
        color: #1ab0ce; }
  .news .item-news + .item-news {
    padding-left: 16px; }

/* container and size */
/* flex-items */
/* indents*/
.footer {
  background-color: #f7f7f7;
  -webkit-box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05); }
  .footer__container {
    max-width: 1155px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .footer__box {
    padding-top: 31px;
    padding-right: 0;
    padding-bottom: 32px;
    padding-left: 0; }
    .footer__box_vertical {
      padding-top: 18px;
      padding-right: 0;
      padding-bottom: 32px;
      padding-left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: stretch;
          -ms-flex-align: stretch;
              align-items: stretch; }
  .footer__copyright {
    font-family: 'Clear Sans';
    font-size: 14px;
    color: #3A4047;
    padding-top: 14px;
    padding-right: 0;
    padding-bottom: 0;
    padding-left: 0; }
  .footer__desc {
    font-family: 'Clear Sans';
    font-size: 16px;
    line-height: 21px;
    color: #3A4047;
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 11px;
    padding-left: 0; }
  .footer__timetable {
    font-family: 'Clear Sans';
    font-size: 14px;
    text-align: center;
    color: #3A4047; }
  .footer .nav__item {
    font-family: Roboto;
    font-size: 14px;
    line-height: 21px; }
  .footer .nav .nav__item + .nav__item {
    padding-top: 16px; }
  .footer .nav__link {
    color: #3A4047; }

/*# sourceMappingURL=main.css.map */