@import '../mixins';

.header {
    &__promo {
        @include container;
        @include flex-container(flex-start, flex-start);
        @include padding(17px, 0, 19px, 0);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    }

    &__content {
        padding-left: 64px;
        padding-right: 53px;
    }

    &__description {
        font-family: 'Clear Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #3A4047;
        padding-bottom: 11px;
    }
    
    &__schedule {
        font-family: 'Clear Sans';
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #3A4047;
    }

    &__settings {
        @include flex-container-column(flex-end, center);
    }

    &__data {
        @include d-flex;
        padding-bottom: 20px;
    }

    &__personal-account {
        padding-right: 28px;
    }

    &__contacts {
        @include flex-container(flex-end, center);
    }

    #main-nav a {
        color: #f6f7f8;
        background: #254441;
        height: 30px;
        font-family: lato;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: background 0.4s;
    }

    #main-nav a:hover {
        background: #305753;
    }

    #main-nav {
    }

    #main-nav ul {
        list-style: none;
        display: flex;
    }
    
    #main-nav li {
        width: 100%;
        text-align: center;
        position: relative;
    }
    
    #main-nav li:hover .submenu > li {
        display: block;
        flex-direction: column;
        top: 0px;
    }

    .submenu li {
        display: none;
        position: absolute;
        top: 0px;
    }

    .submenu {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
    }

    .submenu li {
        position: relative;
    }
    
    .submenu li:hover .submenu-2 li {
        display: block;
    }

    .submenu-2 li {
        display: none;
    }

    .submenu-2 {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 0px;
        left: 100%;
        width: 120px;
    }
    
    svg {
        margin-left: 8px;
        color: #eee;
        font-size: 12px;
    }

    &__shopping-cart {
        padding-left: 18px;
    }
}