@import '../mixins';

.header {
    &__promo {
        @include container;
        @include flex-container(flex-start, flex-start);
        @include padding(17px, 0, 19px, 0);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
    }

    &__content {
        padding-left: 64px;
        padding-right: 53px;
    }

    &__description {
        font-family: 'Clear Sans';
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: #3A4047;
        padding-bottom: 11px;
    }
    
    &__schedule {
        font-family: 'Clear Sans';
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #3A4047;
    }

    &__settings {
        @include flex-container-column(flex-end, center);
    }

    &__data {
        @include d-flex;
        padding-bottom: 20px;
        padding-left: 35px;
    }

    &__personal-account {
        width: 150px;
    }

    &__contacts {
        @include flex-container(space-between, center);

        & > a > img {
            @include padding(0, 21px, 0, 0);
        }
    }

    &__link {
        text-decoration: none;
    }

    @import 'dropdown/dropdown';

    &__shopping-cart {
        // padding-left: 18px;
        position: relative;

        &::before {
            content: "3";
            display: block;
            width: 30px;
            height: 30px;
            background-color: #1ab0ce;
            border-radius: 50%;
            position: absolute;
            top: -10px;
            right: -10px;
            font-family: 'Clear Sans';
            font-size: 14px;
            line-height: 26px;
            text-align: center;
            color: #FFFFFF;
        }
    }
}