@import '../mixins';

.navigation {
    @include container;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);

    &__list {
        @include flex-container(space-between, center);
        @include padding(17px, 0, 19px, 0);
    }
    
    &__item {
        font-family: 'Clear Sans';
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: uppercase;
        @include padding(0, 30px, 0, 30px);
        // border-right: 1px solid #e8edf2;

        & a {
            color: #3A4047;
            text-decoration: none;
        }
    }

    .navigation__item + .navigation__item {
        border-left: 1px solid #e8edf2;
    }
}