@import '../mixins';

.footer {
    background-color: #f7f7f7;
    box-shadow: inset 0px 2px 2px rgba(0, 0, 0, 0.05);
    position: relative;

    &__container {
        @include container;
        @include flex-container(space-between, flex-start);
    }

    &__box {
        @include padding(31px, 0, 32px, 0);

        &_vertical {
            @include padding(18px, 0, 32px, 0);
            @include flex-container-column(space-between, stretch);
        }
    }

    &__copyright {
        font-family: 'Clear Sans';
        font-size: 14px;
        color: #3A4047;
        @include padding(14px, 0, 0, 0);
    }

	&__desc {
        font-family: 'Clear Sans';
        font-size: 16px;
        line-height: 21px;
        color: #3A4047;
        @include padding(0, 0, 11px, 0);
    }

    &__timetable {
        font-family: 'Clear Sans';
        font-size: 14px;
        text-align: center;
        color: #3A4047;
    }

    &__message {
        width: 108px;
        height: 108px;        
        background: #1ab0ce;
        border-radius: 50%;
        box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.05);
        position: absolute;
        top: -35%;
        right: 0%;
        @include flex-container-column(center, center);

        & svg {
            width: 23px;
            height: 23px;
        }

        & span {
            font-family: 'Clear Sans';
            font-size: 14px;
            line-height: 16px;
            text-align: center;
            color: #ffffff;
        }
    }

    & .nav {
        &__item {
            font-family: Roboto;
            font-size: 14px;
            line-height: 21px;
        }

        .nav__item + .nav__item {
            padding-top: 16px;
        }
        
        &__link {
            color: #3A4047;
        }
    }
}