/* container and size */

@mixin container {
    max-width: 1155px;
    margin: 0 auto;
}

/* flex-items */

@mixin d-flex {
    display: flex;
}

@mixin flex-container($horisontal, $vertical) {
    display: flex;
    justify-content: $horisontal;
    align-items: $vertical;
}

@mixin flex-container-column($horisontal, $vertical) {
    display: flex;
    flex-direction: column;
    justify-content: $horisontal;
    align-items: $vertical;
}

/* indents*/

@mixin margin($m-top, $m-right, $m-bottom, $m-left) {
    margin-top: $m-top;
    margin-right: $m-right;
    margin-bottom: $m-bottom;
    margin-left: $m-left;
}

@mixin padding($p-top, $p-right, $p-bottom, $p-left) {
    padding-top: $p-top;
    padding-right: $p-right;
    padding-bottom: $p-bottom;
    padding-left: $p-left;
}